<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyX_uO3PmsaIx5DqJdVbgeTdPslKAFaB0</string>
	<key>GCM_SENDER_ID</key>
	<string>1043534021424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thesisapp</string>
	<key>PROJECT_ID</key>
	<string>fire-setup-2fdde</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-setup-2fdde.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043534021424:ios:97b1d34c9b218110487ef5</string>
</dict>
</plist>